@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

.plant {
  animation: grow 0.5s ease-out;
}
